.form {
    display: flex;
    flex-flow: column nowrap;
}

.formInputDiv {
    margin: auto;
    width: 20%;
}
/* main {
    background-image: url(https://i.postimg.cc/nzkwL4gB/Landing-Background.png);
} */
